ion-content{

    // --ion-background-color:#4D0A0A;

    h1{
        font-size: 45px;
        margin-top:50px;
        color : #4D0A0A;
    }
}

.marginTop{
        margin-top:150px;
    }
.logo{
        height: 100px;
}