<ion-content [scrollEvents]="true" class="ion-padding" id="welcome">
  <div class="logo"></div>
  <h1> MES CHEVEUX </h1>
  <div>Book salons online</div>
  <ion-grid>
    <ion-row>
      <ion-col center class="ion-text-center">
        <ion-button  size="medium" expand="block" class="marginTop"  (click)="register()">Sign up</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col center class="ion-text-center">
        <ion-button size="medium" expand="block" color="dark" (click)="login()">Log in</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>