<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sign Up</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismissRegister()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="register(form)" method="post">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input ngModel required minlength ="5" name="username"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required ngModel name="email"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input ngModel required name="phone"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required ngModel name="password"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" required ngModel name="cpassword"></ion-input>
    </ion-item>
    
    <ion-button size="medium" type="submit" expand="block" color="danger">Register</ion-button>
  </form>
  <p class="ion-text-center">Already have a account?</p>
  <ion-button size="medium" expand="block" color="primary" (click)="loginModal()">Login</ion-button>
</ion-content> 