<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title>{{modalTitle}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <form #form="ngForm" (ngSubmit)="submitSalonReview(form)" method="post">
          <ionic4-star-rating #rating 
          activeIcon="ios-star" 
          defaultIcon="ios-star-outline" 
          activeColor="#F89621"
          rating="0"
          fontSize = "32px"
          (ratingChanged)="logRatingChange($event)"
          defaultColor="#F15D2C" readonly="false">
          </ionic4-star-rating>
          <ion-item>
            <ion-label position="floating">Comment</ion-label>
            <ion-input ngModel type="text" name="comment"></ion-input>
          </ion-item>
          <ion-button type="submit" expand="block" color="primary">Submit</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>