<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Confirm Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list *ngIf="selectedServices">
          <ion-list-header>
            <ion-label>Selected Services</ion-label>
          </ion-list-header>
          <ion-item *ngFor="let item of selectedServices">
            <ion-label class="ion-text-wrap">
              <ion-text color="primary">
                <h3>{{ item.name }}</h3>
              </ion-text>
              <p>{{ item.formated_price }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-text color="primary">
                <h3>Total Cost ${{ totalCost }}</h3>
              </ion-text>
              <p>Appointment Date {{ bookingFormData.bookingDate }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button size="medium" (click)="payNow()" expand="block">Pay Now</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
